<div class="jumbotron">
  <h1 class="display-4">About Me</h1>
  <p class="lead">Roberto Jargemboski -  <b>Senior C# ASP.NET/Angular/Azure Web Developer</b></p>
  <hr class="my-4">
  <p>I have 10 years of experience as a web developer, working in many software houses with a variety of projects such as web-services, commercial automation, ERP, biometric security and others, always focused on the software quality.</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="https://www.linkedin.com/in/roberto-jargemboski-b520b97b/" role="button">My Profile</a>
  </p>
</div>