<h2>Welcome to the User</h2>


<div class="container">
  <div class="row">
      <div class="col-12">
        <form [formGroup]="userForm" (ngSubmit)="addUser()">
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control"
            formControlName="name"
             name="name" id="name" placeholder="name">
            <small id="emailHelp" class="form-text text-muted" *ngIf="userForm.controls.name.invalid && userForm.controls.name.touched">This field is required.</small>
          </div>
          <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" 
              formControlName="email"
              name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted" *ngIf="userForm.controls.email.invalid && userForm.controls.email.touched">Please, provide a valid E-mail.</small>              
              <small id="emailHelp" class="form-text text-muted" *ngIf="userForm.controls.email.invalid && userForm.controls.email.errors.emailInUse">Email already in use.</small>                            
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
          <hr>
        </form>

      </div>
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12" >
          <div class="col-12">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">
                        <span class="d-none d-md-block d-xl-block">Search by name</span>
                        <span class="d-block d-md-none">
                            <fa name="search"></fa>
                        </span>
                    </span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="searchText" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
          </div>
          <div class="col-12">
              <hr>
          </div>
          <div class="container user-list">
            <div *ngIf="users | async; let usersData; else loading">
              <div class="row" [ngClass]="{'user-selected': user.id === selectedUser}" *ngFor="let user of usersData | UserFilter : searchText">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <b>{{user.name}}</b> - {{user.email}}
                </div>                
                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                    <button class="btn btn-secondary btn-sm  align-self-end" (click)="selectedUser = user.id" [routerLink]="['details',user.id]" >Details</button>
                </div>
                <div class="col-12">
                    <hr>
                </div>
              </div>
            </div>
              <ng-template #loading>Loading User Data...</ng-template>
          </div>
      </div>      
      <div class="col-md-4 col-sm-12 col-xs-12">
          <router-outlet></router-outlet>
      </div>
  </div>
  </div>


