<div class="jumbotron">
        <div class="d-flex flex-row align-items-center">
                <div class="p-2">
                        <img class="image-avatar img-fluid img-thumbnail rounded-circle" src="../../assets/images/transferir.png" alt="">
                </div>
                <div class="p-2">
                        <h2 class="display-4">Roberto Jargemboski</h2> 
                </div>
              </div>
    <h2>Angular 6 Firestore Project</h2>
    <p class="lead">This is a simple project in terms of business logic, but <b>covers most of the key
        angular tools, concepts and design patterns</b>, such as Multiple modules structure, Lazy Loading, 
        Routing and Child Routing, Resolvers, Observables, Firebase CRUD, Pipe filters, Angular Material, Reactive forms,  
        AOT compilation and others.
    </p>
    <hr class="my-4">
    <p>You can get the code for this project at github.</p>
    <p class="lead">
      <a class="btn btn-dark btn-lg" href="https://github.com/Jarzembowski/angular6firestore" role="button">Project Repository</a>
    </p>
  </div>